/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

:root {
	--main-font: "brenner mono";
	--light-weight: 200;
	--sans-font: "Brenner Sans Condensed";
	--regular-weight: 400;
	--medium-weight: 600;
	--bold-weight: 800;
	--regular-style: Normal;
	--italic-style: Italic
  }


.container{
	display: grid;
	grid-template-columns: 1fr 500px 500px 1fr;
	grid-template-rows: minmax(100px, auto);
	
}


.item-4{
	display: grid;
	grid-template-columns: 60% 1fr;
	grid-template-rows: minmax(100px, auto);
	margin-top: 1rem;
	background-color: black;
	width: 500px;
	height: 300px;
	
}

.alert{
	justify-self: center;
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	font-family: var(--main-font);
	color: rgb(13, 226, 13);
	transition: all 1s;
	opacity: 0;
}


.alert2{
	justify-self: center;
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	font-family: var(--main-font);
	color: #D6002B;
	transition: all 1s;
	opacity: 0;
}

.info-list{
	color: #D9D9D9;
	align-self: center;
	display: grid;
	
}

.pic{
	height: 100%;
	width: 110%;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	
	
}

@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  

.item-2{
	width: 500px;
	height: 300px;
	background: black;
	overflow: auto;
}


body{
	margin: 30px auto;
}

.sound1{
	
}

#closed-captions p {
	opacity: 1;
	display: none;
	transition: .05s;
	color: rgb(13, 226, 13);
	font-size: 18px;
	margin: 20px 20px;
	/* text-align: center; */
}

#closed-captions .on {
	opacity: 1;
	display: block;
}

#closed-captions .off {
	transition: .2s;
	opacity: 1;
}

.header{
	font-family: var(--main-font);
	font-style: Normal;
	font-weight: var(--light-font);
	letter-spacing: 10px;
	display: flex;
	justify-content: center;
}

.info{
	font-family: var(--main-font);
	font-style: Normal;
	font-weight: 400;
	margin: 4px 20px;
	transition: all 1s;
}

.main{
	font-weight: 600;
	margin-top: 20px;
}

.item-3 {
	width: 500px;
	position: relative;
	margin: 20px auto;
  }

  .strongline{
	  height: 75px;
		width: 500px;
		opacity: 0;
		
  }

  .softline{
	height: 100px;
	width: 500px;
	opacity: 0;	
  }



  .fade-in {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	top: 0;
	right: 0;
	animation: heartRateIn 2.5s linear infinite;
	}
	


  .fade-in1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	top: 0;
	right: 0;
	animation: heartRateIn 1.5s linear infinite;
	opacity: 0;
	}
	

	
	.alarm{
		width: 100%;
		height:  100%;
		opacity: 0;
		/* content: url(svg/medium.gif) */
	}

	.alarm2{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.alarm3{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.slow-peep{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.peep{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.hard-peep{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.stop-peep{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.slow-wave{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.medium-wave{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	.fast-wave{
		width: 100%;
		height:  100%;
		opacity: 0;
	}

	@-webkit-keyframes blink {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes blink2 {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes blink3 {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes slowpeep {
		0%   { opacity: 0.15; }
		100% { opacity: 0.4; }
	}

	@-webkit-keyframes peep {
		0%   { opacity: 0.4; }
		100% { opacity: 0.6; }
	}

	@-webkit-keyframes hardpeep {
		0%   { opacity: 0.6; }
		100% { opacity: 1; }
	}

	@-webkit-keyframes stop {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@-webkit-keyframes slowwave {
		0%   { opacity: 0.2; }
		20%   { opacity: 0.8; }
		60%   { opacity: 0.3; }
		100% { opacity: 0.7; }
	}


	@-webkit-keyframes mediumwave {
		0%   { opacity: 0.7; }
		30%   { opacity: 1; }
		100% { opacity: 0.7; }
	}

	@-webkit-keyframes fastwave {
		0%   { opacity: 0.7; }
		100% { opacity: 0; }
	}

	.side-1{
		justify-self: center;
		align-self: center;
		background: black;
		width: 100%;
		height: 300px;
	}

	.side-2{
		justify-self: center;
		align-self: center;
		background: black;
		width: 100%;
		height: 300px;
	}

	
  @keyframes heartRateIn {
	0% {
	  width: 100%;
	}
	50% {
	  width: 0;
	}
	100% {
	  width: 0;
	}
  		}
  
  @keyframes heartRateOut {
	0% {
	  left: -120%;
	}
	30% {
	  left: -120%;
	}
	100% {
	  left: 0;
	}
  		}	

	 .sound1 .softline{
		opacity: 1;
	}

	.sound4 .alarm {
		/* transition: all .2s; */
		animation: blink 1.5s ease-out 1;
		content: url(svg/medium.gif);
	}

	.sound6 .alarm2{
		animation: blink2 1.5s ease-out 1;
		content: url(svg/medium.gif);
	}

	.sound8 .alarm3{
		animation: blink3 1.5s ease-out 1;
		content: url(svg/medium.gif)
	}

	.sound9 .slow-peep{
		animation: slowpeep 18s ease-in 1;
		content: url(svg/slow.gif)
	}

	.sound10 .peep{
		animation: peep 14s ease-in 1;
		content: url(svg/medium.gif)
	}

	.sound11 .hard-peep{
		animation: hardpeep 10.5s ease-in 1;
		content: url(svg/fast.gif)
	}

	.sound12 .stop-peep{
		animation: stop 2s ease-out 1;
		content: url(svg/stopping.gif)
	}

	.sound13 .fade-in{
		opacity: 0;
	}

	.sound21 .strongline{
		opacity: 1;
	}

	.sound22 .softline{
		opacity: 0;
	}
	
	.sound23 .strongline{
		opacity: 0;
	}
	
	
	.sound15 .info {
		color: rgb(13, 226, 13);;
	}
	
	.sound24 .alert{
		color:rgb(13, 226, 13);
		opacity: 1;
	}

	.sound25 .alert{
		opacity: 0;
		}

	.sound26 .alert2{
		opacity: 1;
		color: #D6002B;
		}



	.sound14 .fade-in1{
		opacity: 1
	}

	.sound16 .slow-wave{
		animation: slowwave 13.1s ease-in 1;
		content: url(svg/slowwavy.gif)
	}

	.sound17 .info {
		color: #D9D9D9;
	}

	.sound18 .medium-wave{
		animation: mediumwave 15s  1;
		content: url(svg/medium-wavy.gif)
	}

	.sound19 .fast-wave{
		animation: slowwave 22s ease-out 1;
		content: url(svg/fastwavy.gif)
	}

	.sound20 .info {
		color: #D6002B;
	}

	

.p0.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(5) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(7) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(9) {
	font-weight: var(--regular-weight);
}
.p0.on span:nth-of-type(12) {
	font-weight: var(--regular-weight);
}

.p3.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
}
.p3.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
}

.p4.on span:nth-of-type(6){
	font-weight: var(--bold-weight);
}

.p4.on span:nth-of-type(9){
	font-weight: var(--bold-weight);
}

.p5.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
}

.p5.on span:nth-of-type(9){
	font-weight: var(--bold-weight);
	font-style: var(--italic-style);
}

.p6.on span:nth-of-type(1){
	font-family: var(--main-font);
	font-weight: var(--light-weight);
	font-style: var(--regular-style);
}

.p6.on span:nth-of-type(2){
	font-family: var(--main-font);
	font-weight: var(--light-weight);
	font-style: var(--regular-style);
}

.p7.on span:nth-of-type(8){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p9.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p12.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p15.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p14.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p17.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p18.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p19.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p20.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p23.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p24.on span:nth-of-type(8){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}



.p22.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p25.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p26.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p27.on span:nth-of-type(9){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p28.on span:nth-of-type(2){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p29.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p30.on span:nth-of-type(7){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p31.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p33.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p34.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p36.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p37.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.p38.on span:nth-of-type(4){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p39.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}


.p40.on span:nth-of-type(9){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p40.on span:nth-of-type(10){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p40.on span:nth-of-type(11){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p41.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p41.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p41.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p42.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p42.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p42.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p43.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p43.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}
.p43.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}



.p45.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 2px;
}

.p45.on span:nth-of-type(2){
	letter-spacing: 2px;
}


.p44.on span:nth-of-type(2){
	letter-spacing: 2px;
}

.p44.on span:nth-of-type(3){
	letter-spacing: 2px;
}

.p46.on span{
	letter-spacing: 2px;
}

.p46.on span:nth-of-type(1){
	letter-spacing: 0px;
}

.p48.on span:nth-of-type(2){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p49.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p50.on span:nth-of-type(8){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

.p50.on span:nth-of-type(9){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
}

/* TWEEDE FRAGMENT */

.p50.on span:nth-of-type(8) {
	font-weight: var(--regular-weight);
} 

.p51.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p52.on span:nth-of-type(7) {
	font-weight: var(--regular-weight);
	letter-spacing: 2px;
} 

.p52.on span:nth-of-type(16) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
} 


.p53.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}


.p54.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p54.on span:nth-of-type(1) {
	letter-spacing: 0px;
} 

.p54.on span {
	letter-spacing: 2px;
} 

.p55.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 2px;
} 

.p56.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p57.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
} 

.p57.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
} 

.p57.on span {
	letter-spacing: 0px;
}

.p58.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p58.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p58.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p59.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p60.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p61.on span:nth-of-type(9) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p61.on span:nth-of-type(10) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p62.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p63.on span:nth-of-type(10) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p64.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p65.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p65.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p66.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p66.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p67.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p68.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}


.p69.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 
.p69.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p70.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p70.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p70.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p71.on span:nth-of-type(2) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 
.p71.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 
.p71.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p72.on span:nth-of-type(3){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p72.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p72.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p73.on span:nth-of-type(3) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 
.p73.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p74.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}
.p74.on span:nth-of-type(4){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p75.on span:nth-of-type(4) {
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 0px;
} 

.p76.on span:nth-of-type(5){
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p78.on span:nth-of-type(1){
	font-style: var(--regular-style);
	letter-spacing: 2px;
}

.p77.on span:nth-of-type(6){
	font-weight: var(--regular-weight);
	font-style: var(--italic-style);
	letter-spacing: 2px;
}

.p78.on span{
	font-style: var(--regular-style);
	letter-spacing: 0px;
}

.p79.on span:nth-of-type(1) {
	letter-spacing: 0px;
} 

.p78.on span:nth-of-type(7) {
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
} 

.p79.on span {
	letter-spacing: 0px;
}

.voice1{
	font-family: var(--main-font);
	font-weight: var(--light-weight);
	font-style: var(--regular-style);
	letter-spacing: 0px;
	line-height: 1.3;
}

.voice2{
	font-family: var(--sans-font);
	font-weight: var(--regular-weight);
	letter-spacing: 3px;
	font-style: var(--regular-style);
}

.voice3{
	font-family: var(--sans-font);
	font-weight: var(--bold-weight);
	font-style: var(--regular-style);
}

.voice4{
	font-family: var(--main-font);
	font-weight: var(--medium-weight);
	font-style: var(--regular-style);
}

.slow{
	letter-spacing: 2px;
}

.fast{
	letter-spacing: 0px;
}


@media only screen and (max-width: 600px){
	.container{
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: minmax(100px, auto);
		align-content: center;
	}


	.item-2{
		width: 100vw;
		height: 300px;
		background: black;
		overflow: auto;
	
	}

	.item-1{
		width: 100vw;
		
	}

	.item-3{
		margin: 0px;
		align-content: center;
		justify-self: center;
	}

	.item-4{
		width: 100vw;
		height: 300px;
		margin: 0;

		justify-self: center;	
	}

	body{
		overflow: visible;
	}
	
	
}